/* Estilos para Item */
.Item {
  max-width: 300px;
  min-height: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  /* Agregar una sombra más grande */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  /* Agregar una transición para el efecto de "hover" */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Agregar un efecto de "hover" */
.Item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.description {
  display: none;
  line-height: 1;
  margin: auto;
}

.description > * {
  font-family: Poppins, sans-serif;
}

.Item:hover {
  transform: scale(1.07);
  transition: transform 0.5s;
  cursor: pointer;
  background-color: rgb(196, 196, 196);
}

.Item:hover .description {
  position: absolute;
  display: block;
}

.Item img {
  width: 256px;
  max-width: 100%;
  height: auto;
  margin-top: 1.5rem;
}

.Item h2 {
  font-size: 1.2rem;
  margin: 0;
}

.Item p {
  margin: 10px 0;
}

section {
  padding: 0.5rem;
}
