@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    min-height: 90vh;
    overflow-y: auto;
    padding-bottom: 50px;
}


.list {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  font-size: 3rem;
  color: black;
  padding-left: 0;
}

.item-list {
  background-color: white;
  border: 1px solid black;
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: brown;
  font-size: 1.7rem;
}

.img-container {
  display: flex;
  gap: 10%;
}

.img-container img {
  cursor: pointer;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid white;
}

.button-container {
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.button-next {
  width: 100%;
  margin-top: 1rem;
  background-color: rgb(58, 124, 248);
  color: black;
  padding: 1.2rem;
}

.button-help {
  width: 100%;
  margin-top: 1rem;
  background-color: yellow;
  color: rgb(0, 0, 0);
  padding: 1.2rem;
}

.button-exit {
  width: 100%;
  margin-top: 1rem;
  background-color: red;
  color: rgb(0, 0, 0);
  padding: 1.2rem;
}

.descrpition {
  color: #fff;
  margin-top: 0;
  font-size: 2rem;
}

.level {
  margin: 0;
  font-size: 3rem;
  color: #a294e4;
}

@media (max-width: 1100px) {
  .game {
    min-width: 90%;
    margin: auto;
  }
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .descrpition {
    font-size: 2rem;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-container img {
    width: 300px;
    height: 300px;
  }

  .item-list {
    padding: 1rem;
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  .img-container img {
    width: 250px;
    height: 250px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  .img-container img {
    width: 200px;
    height: 200px;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(10%);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(100%);
  }
}

.img-container img.slide-out-left {
  animation-name: slideOutLeft;
}

.img-container img.slide-in-right {
  animation-name: slideInRight;
}

@media screen and (max-width: 1400px){
  .item-list {
    font-size: 1rem;
    line-height: 1;
    color: brown;
  }
  #imgg {
  height: 14vw;
  width: 14vw;
  }

  .img-container {
    margin: 0px!important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .list {
    margin:0px;
  }

  .button-container {
    height: auto!important;
    padding: 10px!important;
  }
  .button-container > * {
    height: 10vh!important;
  }

  a > svg {
    height: 10vh!important;
  }

  .level {
    font-size: 2rem;
  }



}
