@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    color: green;
    padding: 1rem;
}

.item-list {
    border: 1px solid black;
    padding: 1rem;
    border-radius: .3rem;
}

.img-container {
    display: flex;
    gap: 1rem;
}

.img-container img {
    width: 350px;
    height: 350px;
    border-radius: 1rem;
}

.button-container {
    display: flex;
    gap: 1rem;

}

.button-next {
    width: 100%;
    margin-top: 1rem;
    background-color: rgb(58, 124, 248);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.button-help {
    width: 100%;
    margin-top: 1rem;
    background-color: yellow;
    color: rgb(0, 0, 0);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.button-exit {
    width: 100%;
    margin-top: 1rem;
    background-color: red;
    color: rgb(0, 0, 0);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

