@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: black;
}

.item-list {
    background-color: white;

    border: 1px solid black;
    padding: 1.5rem;
    border-radius: 1rem;
}

.img-container {
    display: flex;
    gap: 1rem;
}

.img-container img {
    width: 350px;
    height: 350px;
    border-radius: 1rem;
    border: 1px solid black;
}

.button-container {
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: bold;

}

.button-next {
    width: 100%;
    margin-top: 1rem;
    background-color: rgb(58, 124, 248);
    color: black;
    padding: 1.2rem;
}

.button-help {
    width: 100%;
    margin-top: 1rem;
    background-color: yellow;
    color: rgb(0, 0, 0);
   padding: 1.2rem;
}

.button-exit {
    width: 100%;
    margin-top: 1rem;
    background-color: red;
    color: rgb(0, 0, 0);
    padding: 1.2rem;
}

.descrpition {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
}
