.game-sound {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Agrega una transición para suavizar el cambio */
}

.audio-container:hover {
  transform: scale(
    1.1
  ); /* Cambia la escala al hacer hover para dar una sensación de aumento */
}

.button-container {
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  border: 1px solid blue;
  border-radius: 2rem;
  padding: 1rem;
  background-color: white;
}

.button-container > * {
  flex: 1;
  color: #646cff;
  cursor: pointer;
}

@keyframes slideOutLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-10%);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(100%);
  }
}

.img-container img.slide-out-left {
  animation-name: slideOutLeft;
}

.img-container img.slide-in-right {
  animation-name: slideInRight;
}

@media screen and (max-width: 1350px) {
  .game-sound {
    flex-direction: column;
  }

  .audio-container {
    margin: 0;
    height: 70px;
    width: 70px;
  }

  .button-container > * {
    flex: 1;
  }

  .game-sound {
    gap: 1rem;
  }

  .img-container img.slide-out-left {
    width: 180px;
    height: 180px;
    margin: 0;
  }
  
  .img-container img.slide-in-right {
    width: 180px;
    height: 180px;
  }
  
  
}
